@import "tailwindcss";
/* @import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss'; */


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
};


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
};

::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 8px;
};

::-webkit-scrollbar-track {
  background: transparent;
};


@layer components {
  .editor {
    outline: none;
  }

  .editor:focus {
    outline: none;
    box-shadow: none;
  }

  .editor [contenteditable="true"]:focus {
    outline: none;
    box-shadow: none;
  }
}